.DS_Store
**/.DS_Store
# UserData
**/xcuserdata
*/build/*
**/build/*
# Build
**/.build/
**/Build/
**/*.ipa
**/*.pbxuser

/dandelion/app.xcodeproj/xcuserdata
dandelion/app.xcodeproj/project.xcworkspace/xcuserdata/alexander.xcuserdatad/UserInterfaceState.xcuserstate
